<mat-card class="max-w-3xl mx-auto mt-7">
  <mat-card-content class="flex flex-row justify-between gap-3 items-center">
    <div class="relative flex gap-3 items-center w-full">
      <span class="text-gray-400 hover:cursor-pointer" (click)="submitSearch()">
        <mat-icon>search</mat-icon>
      </span>
      <input class="focus:outline-none pl-10 pr-10 w-full" [placeholder]="this.languageService.translate('home.search')" [(ngModel)]="searchTerm"
        (keyup)="submitSearch()">
      <span class="text-gray-400 hover:cursor-pointer" (click)="addNewTask()">
        <mat-icon>add</mat-icon>
      </span>
      <span mat-button [matMenuTriggerFor]="menu" class="
      text-gray-400 text-center text-ellipsis select-none cursor-pointer whitespace-nowrap">
        {{currentState}}</span>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="switchSate('ALL')">
          {{'ALL'}}</button>
        <div *ngFor="let state of TaskState | keyvalue" class="py-2">
          <button mat-menu-item (click)="switchSate(state.key)">
            {{state.value}}</button>
        </div>
      </mat-menu>
    </div>
  </mat-card-content>
</mat-card>