<div class="block max-w p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 mt-4">
  <p class="mb-2 text-xl font-bold tracking-tight text-gray-900">Top 5 des tâches les plus commentées</p>
  <hr/>
  <div class="flex justify-center items-center">
      <canvas 
          baseChart
          [data]="barChartData"
          [type]="barChartOptions.type"
          [options]="barChartOptions.options"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)">
      </canvas>
  </div>
</div>