<div class="block max-w p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 mt-4">
  <p class="mb-2 text-xl font-bold tracking-tight text-gray-900">{{ this.languageService.translate('dashboard.top5') }}</p>
  <hr/>
  <div class="flex justify-center items-center">
      <canvas *ngIf="commentChartData.datasets[0].data.length > 0"
          baseChart
          [data]="commentChartData"
          [type]="'bar'"
          [options]="commentChartOptions">
      </canvas>

      <div *ngIf="commentChartData.datasets[0].data.length == 0" class="flex flex-col items-center justify-center my-28">
          <p class="text-gray-500">{{ this.languageService.translate('dashboard.noData') }}</p>
      </div>
  </div>
</div>