<div class="h-full max-w-8xl mx-auto flex flex-col items-center pt-3 overflow-auto">
  <h2 class="text-2xl font-semibold mb-6">
    {{ languageService.translate('profile.editProfile') }}
  </h2>
  <form (ngSubmit)="saveProfile()" class="space-y-4 w-full max-w-md">
    <div>
      <label for="nickname" class="block text-sm font-medium text-gray-700 mb-2">
        {{ languageService.translate('profile.nickname') }}
      </label>
      <mat-form-field appearance="outline" class="w-full">
        <input id="nickname" matInput [(ngModel)]="nickname" name="nickname" required
          placeholder="{{ languageService.translate('profile.nickname') }}">
      </mat-form-field>
    </div>
    <div>
      <label for="bio" class="block text-sm font-medium text-gray-700 mb-2">
        {{ languageService.translate('profile.bio') }}
      </label>
      <mat-form-field appearance="outline" class="w-full">
        <textarea id="bio" [(ngModel)]="bio" name="bio" matInput
          placeholder="{{ languageService.translate('profile.talkAboutYourself') }}" rows="5"></textarea>
      </mat-form-field>
    </div>
    <div>
      <label for="role" class="block text-sm font-medium text-gray-700 mb-2">
        {{ languageService.translate('profile.role') }}
      </label>
      <mat-form-field appearance="outline" class="w-full">
        <input matInput id="role" type="text" [(ngModel)]="role" name="role"
          placeholder="{{ languageService.translate('profile.role') }}" required>
      </mat-form-field>
    </div>
    <div>
      <label for="twitter" class="block text-sm font-medium text-gray-700 mb-2">
        {{ languageService.translate('profile.twitter') }}
      </label>
      <mat-form-field appearance="outline" class="w-full">
        <input matInput id="twitter" type="url" [(ngModel)]="twitter" name="twitter"
          placeholder="https://twitter.com/example" required>
      </mat-form-field>
    </div>
    <div>
      <label for="facebook" class="block text-sm font-medium text-gray-700 mb-2">
        {{ languageService.translate('profile.facebook') }}
      </label>
      <mat-form-field appearance="outline" class="w-full">
        <input matInput id="facebook" type="url" [(ngModel)]="facebook" name="facebook"
          placeholder="https://facebook.com/example" required>
      </mat-form-field>
    </div>
    <div>
      <label for="linkedin" class="block text-sm font-medium text-gray-700 mb-2">
        {{ languageService.translate('profile.linkedin') }}
      </label>
      <mat-form-field appearance="outline" class="w-full">
        <input matInput id="linkedin" type="url" [(ngModel)]="linkedin" name="linkedin"
          placeholder="https://linkedin.com/in/example" required>
      </mat-form-field>
    </div>
    <button mat-raised-button type="submit" color="primary" class="w-full">
      {{ languageService.translate('profile.save') }}
    </button>
    <p *ngIf="errorMessage" class="text-red-500">{{ errorMessage }}</p>
  </form>
</div>
